.sidebar-section{
    display: flex;
    padding: 10px;
    width: 200px;
    border-radius: 0 3px 3px 0;
    background:  azure;
    color: #111;
    min-height: 100vh;
    font-family: primaryFont;
    @media screen and (max-width: 480px) {
        display: none;
    }
    // display: none;
}